<section class="footer">
  <div class="container">
    <a href="" class="logo" rel="noopener noreferrer">
      <svg class="logo-icon" width="32" height="32">
        <use href=""></use>
      </svg>
      <p class="logo-text">Cucina</p>
    </a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="">Home</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Store</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Recipes</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Gallery</a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a
            class="address-link"
            href="https://maps.app.goo.gl/QjUzRGBBsG169Sjg8"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="address-icon" width="24" height="24">
              <use href=""></use>
            </svg>
            Elvia Elviaveien 1, 1234 Oslo
          </a>
        </li>
        <li class="address-item">
          <a class="mail-link" href="mailto:willie.jennings@example.com">
            <svg class="mail-icon" width="24" height="24">
              <use href=""></use>
            </svg>
            willie.jennings@example.com
          </a>
        </li>
      </ul>
    </address>
    <ul class="social-media-list">
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
    </ul>
    <div class="conditions">
      <p>
        By using this website, you agree to the
        <a class="terms-service" href="" rel="noopener noreferrer nofollow">
          Terms of Service
        </a>
        and
        <a class="privacy-policy" href="" rel="noopener noreferrer nofollow">
          Privacy Policy
        </a>
      </p>
    </div>
  </div>
</section>
