<header class="header">
  <div class="container">
    <a href="" class="logo" rel="noopener noreferrer">
      <svg class="logo-icon" width="32" height="32">
        <use href=""></use>
      </svg>
      <p class="logo-text">Cucina</p>
    </a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="">Home</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Store</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Recipes</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="">Gallery</a>
        </li>
      </ul>
      <a href="" class="contact-us" rel="noopener noreferrer">Contact us</a>
    </nav>

    <!-- ul.navigation-list>li.navigation-item*4>a.navigation-link -->
    <button class="menu-button">
      <svg class="menu-icon" width="31" height="16">
        <use href=""></use>
      </svg>
    </button>
    <div class="mobile-menu-wrap">
      <div class="mobile-menu-top-wrap">
        <a href="" class="logo">
          <svg
            class="logo-icon"
            width="32"
            height="32"
            rel="noopener noreferrer"
          >
            <use href=""></use>
          </svg>
          <p class="logo-text">Cucina</p>
        </a>
        <button class="close-mobile-menu">
          <svg class="close-icon" width="32" height="32">
            <use href=""></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-navigation">
        <ul class="navigation-list">
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="" rel="noopener noreferrer"
              >Home</a
            >
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="" rel="noopener noreferrer"
              >Store</a
            >
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="" rel="noopener noreferrer"
              >Recipes</a
            >
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="" rel="noopener noreferrer"
              >Gallery</a
            >
          </li>
        </ul>
        <a
          href=""
          class="mobile-navigation-contact-us"
          rel="noopener noreferrer"
          >Contact us</a
        >
      </nav>
    </div>
  </div>
</header>
