<section class="hero">
  <div class="container">
    <div class="hero-description">
      <h1 class="hero-title">CUCINA DI CATHERINA</h1>
      <p class="slogan">
        We know, you will <span class="slogan-word-color">love</span> our
        product
      </p>
    </div>
    <img class="hero-img" src="" alt="A can of ketchup" />
    <!-- <img class="hero-background-image" src="" alt="Some vegetables" /> -->
    <svg class="hero-background-image" width="302" height="177">
      <use href=""></use>
    </svg>
    <button class="order" type="button">Buy now</button>
    <ul class="list">
      <li class="item"><span class="number">14</span> different tastes</li>
      <li class="item">
        <span class="number">31</span> factories around the world
      </li>
    </ul>
    <ul class="social-media-list">
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
      <li class="social-media-item">
        <svg class="social-media-icon" width="16" height="16">
          <use href=""></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
