<section class="products">
  <div class="container">
    <svg class="arrow-up" width="16" height="16">
      <use href=""></use>
    </svg>
    <ul class="products-list">
      <li class="product-item">
        <img src="" alt="Tomatoes" />
        <h2 class="product-name">Classic sauce</h2>
        <p class="product-description">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class="buy-product" type="button">Buy now</button>
      </li>
      <li class="product-item">
        <h2 class="product-name">Spicy sauce</h2>
        <p class="product-description">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="buy-product" type="button">Buy now</button>
        <img src="" alt="Tomatoes" />
      </li>
    </ul>
    <svg class="arrow-down" width="16" height="16">
      <use href=""></use>
    </svg>
  </div>
</section>
