.header {
}
.header .container {
  display: flex;
  gap: 50px;
}
.logo {
}
.logo-icon {
}
.logo-text {
}
.navigation {
  display: none;
}
.navigation-list {
  // display: none;
}
.navigation-item {
}
.navigation-link {
}
.contact-us {
  // display: none;
}
.menu-button {
}
.menu-icon {
}
.mobile-menu-wrap {
  display: none;
}
.mobile-menu-top-wrap {
}
.close-mobile-menu {
}
.close-icon {
}
.mobile-navigation {
}
.mobile-navigation-item {
}
.mobile-navigation-link {
}
.mobile-navigation-contact-us {
}
