/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.scss');
@import url('./vite-promo.scss');
@import url('./header.scss');
@import url('./cooking.scss');
@import url('./harvest.scss');
@import url('./footer.scss');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #f3f3f3;
  background-color: #100f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
